*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

@font-face{
    font-family: 'TT Commons Regular';
    font-style: normal;
    font-weight: normal;
    src: local('TT Commons Regular'), url('~/assets/css/fonts/TT Commons Regular.woff') format('woff'); 
}

@font-face {
    font-family: 'TT Commons Medium';
    font-style: normal;
    font-weight: normal;
    src: local('TT Commons Medium'), url('~/assets/css/fonts/TT Commons Medium.woff') format('woff');
    }

@font-face {
    font-family: 'TT Commons Light';
    font-style: normal;
    font-weight: normal;
    src: local('TT Commons Light'), url('~/assets/css/fonts/TT Commons Light.woff') format('woff');
        }
        
@font-face {
    font-family: 'TT Commons Bold';
    font-style: normal;
    font-weight: normal;
    src: local('TT Commons Bold'), url('~/assets/css/fonts/TT Commons Bold.woff') format('woff');
}   

@font-face {
    font-family: 'TT Commons Black';
    font-style: normal;
    font-weight: normal;
    src: local('TT Commons Black'), url('~/assets/css/fonts/TT Commons Black.woff') format('woff');
    }

:root{
    --dark: #404D61;
    --grey:  #757D8A;
    --green: #07A287;
    --grey--4: #C3C7CE;

}    

html{
  font-family: 'DM Sans';
  font-size: 16px;
}

body{
  margin: 0;
  min-height: 100vh
}

.auth-container{
    max-width: 30rem;
    margin: auto;
}

input{
    padding: .8rem;
    border: 1px solid #E1E3E6;
    border-radius: 8px; 
}

::placeholder{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 24px;
    color: #404D61;
}

.cursor{
    cursor: pointer;
}

.text-underline-none{
    text-decoration: none;
}

/* colors */
.dark{
    color: var(--dark);
}

.grey{
    color: var(--grey);
}

.green{
    color: var(--green)
}

.grey--4{
    color: var(--grey--4)
}

/* Buttons */

.btn{
    display: inline-block;
    border-radius: 4px;
    padding: 8px 30px;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 24px;
    cursor:pointer;
    text-align: center;
}

a.btn{
    font-size: 1rem;
    text-decoration: none;
}

.btn--green{
    background: linear-gradient( 180deg, #08B395 0%, #0C977F 100%);
    color: #ffffff;
    border: none;
}

/* default-layout */
/* .default-container{
   

} */

.homepage-container{
    padding: 1rem 3.5rem
}

/* Header */

.rentow-ul-nav{
    display: flex;
    list-style: none;
    align-items: center;
    margin-left:auto;
    flex-wrap: wrap;
    padding:0;
}

.rentow-ul-nav > li {
    padding: 0 1rem;
}

.rentow-ul-nav > li > a{
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
}

.rentow-ul-nav > li:first-child > a{
    color: var(--green);
    font-weight: 700;
}

